<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <meta name="csrf-token" content="{{_csrf}}" />

    {{{render-metadata-tags}}}
    {{{render-stylesheet-tags}}}
    {{{render-javascript-tags 'header'}}}
  </head>
  <body>
    <div id="wrapper">

      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to 'main.index' class="navbar-brand"}}{{appName}}{{/link-to}}
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
          {{{template 'user/usermenu'}}}
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
          <div class="sidebar-nav navbar-collapse">
            {{we-menu 'admin' id="side-menu"}}
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
      </nav>

      {{{layoutHtml}}}
    </div>

    {{{render-bootstrap-config}}}
    {{{render-javascript-tags 'footer'}}}
  </body>
</html>